// Juice
@import "juice";

@mixin resizable-font($fontSize, $lineHeight, $textAlign) {
  font-size: $fontSize;
  line-height: $lineHeight;
  text-align: $textAlign;
}
@mixin cover-media($height, $width) {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: $height;
  width: $width;
}
@mixin caption-media($fontSize, $fontStyle, $fontWeight) {
  font-family:georgia,palatino,book antiqua,palatino linotype,serif;
  font-size: $fontSize;
  font-style: $fontStyle;
  font-weight: $fontWeight;
}
@mixin media-free-position($leftOffset, $topOffset, $width) {
  left: $leftOffset;
  position: absolute;
  top: $topOffset;
  width: $width;
}
@mixin title-span($color, $fontSize, $fontWeight, $letterSpacing) {
  color:$color;
  font-style:normal;
  font-size:$fontSize;
  font-weight:$fontWeight;
  letter-spacing:$letterSpacing;
}

body{
  /*min-width:1000px;*/
}

